<h1 align="center">Trash Classifier</h1>
<div>
  <div class="center">
    <video autoplay muted width="100%" height="300px" #video></video>
  </div>

  <div>
    <input type="file" (change)="fileChange($event)" mat-button>
    <label class="custom-file-label">Select File</label>
  </div>

  <img *ngIf="!!imgSrc" class="center" width="500px" [src]="imgSrc" alt="" #img>

  <ul *ngIf="!!predictions">
    <li *ngFor="let prediciton of predictions">
      {{prediciton.className}}
    </li>

  </ul>
  {{predictions2|async|json}}
</div>
