<h1 align="center">Image Classifier</h1>
<div class="center">
  <div id="fileLoadContainer" class="input-group d-flex center">
    <div class="input-group-prepend ">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="fileChange($event)"
             aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>
</div>
<div class="center margin-top-30" *ngIf="!!imgSrc">
  <img class="center" width="300px" height="500px" [src]="imgSrc" alt="" #img>
</div>
<div *ngIf="!!predictions" class=" center margin-top-30">
  <h2 style="color:blue">{{predictions[0].className}}</h2>
</div>
